* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Opens Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.main-header {
  background: #FFF;
}
.main-header .line {
  display: block;
  background-color: var(--color-main);
  height: 15px;
}
.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.main-header .logo {
  width: 64px;
  height: 64px;
}
.main-header .right {
  display: flex;
  align-items: center;
}
.main-header .input-search {
  border: 1px solid #999;
}
.main-header .input-search form {
  display: flex;
  align-items: center;
}
.main-header .input-search input {
  font-size: 16px;
  color: #777;
  padding: 8px 10px;
  border: none;
  outline: none;
}
.main-header .input-search .icon {
  background: #FFF;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
}
.main-header .input-search .icon img {
  width: 15px;
}
.main-header .menu {
  margin-left: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.main-header .menu img {
  width: 24px;
}

.hero-banner {
  background-image: url('../images/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 90px 60px;
}
.hero-banner .title {
  font-size: 6rem;
  font-weight: 700;
  font-family: 'Oswald';
  line-height: 6rem;
  margin-bottom: 48px;
}
.hero-banner span {
  display: block;
  margin-bottom: 48px;
}
.hero-banner .images {
  display: flex;
  gap: 32px;
}
.hero-banner .images img {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  border: 4px solid var(--color-main);
}

.area-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.area-1 .content {
  padding: 68px;
}
.area-1 .content .title {
  font-family: "Oswald";
  font-size: 2.5rem;
  line-height: 42px;
  margin-bottom: 24px;
}
.area-1 .content .title::before {
  content: ' ';
  display: block;
  height: 16px;
  width: 190px;
  background: var(--color-main);
  margin-bottom: 8px;
}
.area-1 .content .quote {
  font-style: italic;
  color: #777;
  margin-bottom: 32px;
}
.area-1 .content .description {
  line-height: 24px;
  margin-bottom: 64px;
}
.area-1 .content .ctaButton {
  background: transparent;
  padding: 12px 32px;
  border: 2px solid #777;
  cursor: pointer;
  color: #777;
}
.area-1 .footerImg {
  background-image: url('../images/f2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 348px;
}
.area-1 .rightImg {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background-image: url('../images/f1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.area-1.reverse .rightImg {
  grid-column: 1 / 2;
}
.area-1.reverse .footerImg {
  background-image: url('../images/f4.jpg');
  height: 448px;
}
.area-1.reverse .rightImg {
  background-image: url('../images/f3.jpg');
}